// descomentar el primero en caso de querer usar npm de internet
// en caso de usar los repos cubanos descomentar alguno de los dos de abajo (alternando segun funcione) y comentar el strict-ssl 
//registry=https://registry.npmjs.org/
registry=http://nexus.prod.uci.cu/repository/npm-proxy/
//registry=http://nexus.prod.uci.cu/repository/npm-all/
//strict-ssl=true
