@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: nunito;
  src: url('/fonts/nunito.woff2');
}

@font-face {
  font-family: montserrat;
  src: url('/fonts/montserrat.woff2');
}

*{
  transition: all 500ms;
  scroll-behavior: smooth;
}